@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* NAVBAR */
nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav a img {
  width: 50%;
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  margin: 10px 0 10px 0;
}

nav a img:hover {
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}

nav ul {
  display: flex;
}

nav ul li {
  border: 2px solid white;
  padding: 4px 8px;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
  background: transparent;
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.3s ease;
}
nav ul li a {
  color: #ffffff;
}

nav ul li:hover {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

nav ul .special {
  border: 4px solid rgb(255, 153, 0);
}

nav ul .special a {
  color: rgb(255, 153, 0);
}

nav ul .special:hover {
  box-shadow: 0px 0px 20px rgb(255, 153, 0);
}

/* MAIN VIDEO BG */

main {
  width: 100%;
  min-height: 100vh;
  /* background: #8b8b8b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}

main .video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -3;
  filter: brightness(0.6);
  /* width: 100%; */
  /* height: 100%; */
}

main .logo_main {
  width: 50%;
  margin-top: 5%;
  /* background-color: #c24242; */
}

main .main_txt {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
  text-shadow: 0px 0px 30px white;
  /* -webkit-text-stroke: 0.1px rgb(0, 0, 0); */
  /* filter: drop-shadow(10px 10px 20px rgba(255, 255, 255, 0.507)); */
}

main .purchase_list {
  /* background-color: aliceblue; */
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
}

main .purchase_list li {
  background-color: rgb(255, 153, 0);
  margin: 0 20px 0 20px;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  border: 2px solid transparent;
}

main .purchase_list li:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 153, 0);
}

main .purchase_list li a i {
  font-size: 40px;
  color: white;
  transition: 0.5s ease;
}

main .purchase_list li:hover a i {
  color: rgb(255, 153, 0);
}

/* MINA page info */
.horizontal-line-orange {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 153, 0);
}

.main-page-info {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background-image: url(assets/test_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(0.1); */
}

.main-page-info .main-info-block {
  /* background-color: aqua; */
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  margin: 2rem;
  color: white;
}
.main-page-info .main-info-block h2 {
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.main-page-info .main-info-block {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  /* line-height: 25px; */
}

/*? big description section 1 */
.big-description-section {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: url("assets/bg_secondary1.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
  align-items: end;
  justify-content: end;
}

.dark-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width of the dark overlay */
  height: 100%;
  background: linear-gradient(
    310deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.big-description-section .content-box {
  float: left;
  width: 20%;
  /* background: #ffffff; */
  z-index: 3;
  margin-right: 5%;
  margin-bottom: 5%;
}

.big-description-section .content-box h1,
h3,
p {
  color: white;
}

.big-description-section .content-box h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 153, 0);
}

.big-description-section .content-box h3 {
  font-size: 1.7rem;
  /* letter-spacing: 5px; */
  font-weight: 100;
  line-height: 40px;
}
.big-description-section .content-box p {
  font-weight: 100;
  font-size: 1rem;
}

/*? big description section 2 */
#description-section2 {
  background-image: url("assets/bg_secondary2.jpg");
  justify-content: start;
}

#description-section2 .dark-overlay {
  left: 0;
  background: linear-gradient(
    20deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

#description-section2 #content-box2 {
  float: right;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 5%;
}

/*? big description section 3 */
#description-section3 {
  background-image: url("assets/bg_secondary3.jpg");
  background-position: top;
}

/*! NEWS SECTION*/

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/test_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem;
  /* background-attachment: fixed; */
  /* filter: brightness(0.1); */
}

.news h1 {
  color: rgb(255, 153, 0);
  font-size: 3rem;
  letter-spacing: 10px;
  margin: 20px 0 20px 0;
}
.news h3 {
  font-size: 1.5rem;
  margin: 0 0 20px 0;
  font-weight: 400;
  color: #fff;
}

.news p {
  color: #fff;
  font-weight: 100;
  margin-bottom: 60px;
}

/*? CUSTOM BTN */
.button_base {
  margin: 0;
  border: 0;
  font-size: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

.button_base:hover {
  cursor: pointer;
}

.b05_3d_roll {
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
}

.b05_3d_roll div {
  position: absolute;
  /* text-align: center; */
  width: 100%;
  height: 50px;
  padding: 10px;
  border: rgb(255, 153, 0) solid 1px;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b05_3d_roll div img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 10px 5px black);
}

.b05_3d_roll div:nth-child(1) {
  color: rgb(255, 153, 0);
  background-color: rgb(255, 153, 0);
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
  color: rgb(255, 153, 0);
  background-color: #000000;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
  color: rgb(255, 153, 0);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
  background-color: rgb(255, 153, 0);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
}
/*? CUSTOM BTN */

.news_cards {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки с равным размером */
  /* grid-template-rows: repeat(5, 1fr); */
  justify-content: center; /* Выравнивание по горизонтали по центру */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* margin-top: 20px; */
  margin: 40px auto 0 auto;
}

.news_cards .news_card_item {
  /* background-color: aquamarine; */
  border: 1px solid rgb(255, 153, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #00000065;
}

.news_cards .news_card_item h3 {
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

/*! CARD APPEAR */
.news_cards .news_card_item .card {
  /* width: var(--card-width);
  height: var(--card-height); */
  width: 650px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  cursor: pointer;
}

.news_cards .news_card_item .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_cards .news_card_item .wrapper {
  transition: all 0.5s;
  /* position: absolute; */
  width: 100%;
  z-index: -1;
}

.news_cards .news_card_item .card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  /* box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
}

.news_cards .news_card_item .wrapper::before,
.news_cards .news_card_item .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.news_cards .news_card_item .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.news_cards .news_card_item .wrapper::after {
  bottom: 0;
  opacity: 1;
  /* background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  ); */
}

.news_cards .news_card_item .card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.news_cards .news_card_item .card:hover .wrapper::after {
  height: 120px;
}

.news_cards .news_card_item .character {
  width: 400px;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.news_cards .news_card_item .card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
/*! CARD APPEAR */

.news_cards .news_card_item .news_card_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  color: white;
  /* background-color: #c25b5b; */
}

.news_cards .news_card_item .news_card_icons .line-vertical-small {
  background-color: #fff;
  height: 20px;
  width: 1px;
}

.news_cards .news_card_item a {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  margin: 20px 0 0 0;
}
.news_cards .news_card_item a:hover {
  text-decoration: underline;
}

/*! FOOTER */

footer {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
footer ul li a {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 7px;
  transition: 0.3s ease;
}
footer ul li a:hover {
  color: rgb(255, 153, 0);
}

footer ul li div a {
  font-size: 1.7rem;
  transition: 0.3s ease;
}
footer ul li div a:hover {
  color: rgb(255, 153, 0);
}

/*! ////////////// */
/*! ////////////// */
/*! ////////////// */
/*! RELEASE PAGE HTML*/

.release_section {
  width: 100%;
  /* background-color: rgb(37, 41, 41); */
  background-image: url(assets/test_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0 5% 0;
}

.release_section  .release_section_title {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.release_section .release_log_box {
  width: 70%;
  display: flex;
  background: #a53b3b;
  /* align-items: center; */
  justify-content: space-between;
  border: 1px solid rgb(255, 153, 0);
  padding: 20px;
  margin: 20px 0 20px 0;
  transition: .3s ease;
  border-radius: 10px;
}

.release_section .release_log_box:hover {
  box-shadow: 0 0 20px rgba(255, 153, 0, 0.5);;
}

.release_section .release_log_box h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-right: 50px;
}

.release_section .release_log_box p {
  font-size: 1.1rem;
  margin-right: 50px;
}

.release_section .release_log_box .data_release {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 20px;
  color: rgb(255, 153, 0);
}

.release_section .release_log_box #release_modal_btn {
  font-size: 1.1rem;
  font-family: "Noto Sans", sans-serif;;
  background: transparent;
  border: 2px solid black;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: bold;
  transition: .3s ease;
  border-radius: 5px;
}
.release_section .release_log_box #release_modal_btn:hover {
  background: rgb(255, 153, 0);
  cursor: pointer;
}

.release_section .release_log_box img {
  max-width: 450px;
  background-color: rgb(18, 144, 102);
}

/*!!! MODAL */
.release_section .modal {
  max-height: 70vh; /* Определение максимальной высоты модального окна */
  overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
  height: auto;
  width: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(121, 47, 47);
  z-index: 2;
  padding: 20px;
  border-radius: 5px;
  /* text-align: center; */
}
.release_section .modal::-webkit-scrollbar {
  width: 15px; /* Ширина полосы прокрутки */
}

.release_section .modal::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Цвет полосы прокрутки */
  border: 2px solid black;
  border-radius: 3px; 
}

.release_section .modal::-webkit-scrollbar-track {
  background-color:rgb(255, 153, 0); /* Цвет фона полосы прокрутки */
}

.release_section .modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.release_section .close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  transition: .3s ease;
}

.release_section .close-button:hover {
  color:rgb(255, 153, 0);
  text-shadow: 0 0 4px rgb(255, 153, 0);;
}

.release_section .modal-content p{
font-size: 1rem;
/* padding-bottom: 20px; */
}

.release_section .modal-content span {
  color:rgb(255, 153, 0);
}

.release_section .modal-content h1 {
  font-size: 2rem;
  padding: 10px 0 10px 0;
  color: #fff;
}

.release_section .modal-content h3 {
  font-size: 1.5rem;
  color:rgb(255, 153, 0);
}


.release_section .modal-content img {
  max-width: 900px;
  margin: 0 auto;
}

/*!! MORE INFO BTN */
.more_info_box {
  width: 100%;
  min-height: 10vh;
  /* background: #6b4444; */
  text-align: center;
  margin: 50px auto 0;
}

.more_info_box h1 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}


.more_info_box img {
  width: 45%;
  height: auto;
}

.more_info_box .button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fff;
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  /* font-size: 20px; */
  transition: 0.4s;
  /* letter-spacing: 1px; */
}

.more_info_box .button-container-2 button {
  width: 101%;
  height: 100%;
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  /* font-size: 11px; */
  /* letter-spacing: 1px; */
  /* font-weight: bold; */
  cursor: pointer;
}

.more_info_box .button-container-2 button {
  background: rgb(255, 153, 0);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  /* color: #fff; */
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.more_info_box .button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.more_info_box .mas {
  position: absolute;
  color: rgb(255, 153, 0);
  /* text-align: center; */
  width: 101%;
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  /* font-size: 11px; */
  /* margin-top: 17px; */
  overflow: hidden;
  font-weight: bold;
  background: rgb(255, 255, 255);
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

/*? .. */

.dlc_section {
  width: 100%;
  /* background-color: rgb(37, 41, 41); */
  background-image: url(assets/test_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0 5% 0;
}

.dlc_section h1 {
  /* margin: 100px; */
  color: #fff;
}

.dlc_section .swiper {
  /* width: 100%;
  height: 100%; */ 
  /*** SLIDER DOEST SEE WIDTH OR HEIGHT BY CSS PARAM BUT IN CHROME DEV TOOLS ALL WORK??? */
  min-width: 1200px;
  min-height: 10px;
  background: #000;
}

.dlc_section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #694d4d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dlc_section .swiper-slide .slider_item_purchase_btn {
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 5px 25px;
  margin: 30px auto;
  text-transform: uppercase;
  transition: .3s ease;
}

.dlc_section .swiper-slide .slider_item_purchase_btn:hover {
  color:rgb(255, 153, 0);
  border-color:rgb(255, 153, 0);
  /* font-weight: 900; */
  animation-name: moveShadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes moveShadow {
  0% {
    box-shadow: 0 0 0px rgb(255, 153, 0);
  }
  50%{
    box-shadow: 0 0 30px rgb(255, 153, 0);
  }
  100% {
    box-shadow: 0 0 0px rgb(255, 153, 0);
  }
}

.dlc_section .slider_item1 .video-bg {
  /* filter: brightness(0.4); */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

.dlc_section .slider_item2 .video-bg {
  filter: brightness(0.5);
}

.dlc_section .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dlc_section .swiper-slide h1{
  color: #fff;
  font-size: 2.5rem;
  /* background: #000000; */
  width: 80%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.dlc_section .swiper-slide p {
  width: 80%;
  line-height: 30px;
  font-size: 1.1rem;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.dlc_section .swiper {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
}

.dlc_section .swiper .slider_item_logo {
  width: 300px;
  height: 300px;
}

/* !!! CONTACT PAGE */
.contact_section {
  width: 100%;
  /* background-color: #a53b3b; */
  /* background-color: rgb(37, 41, 41); */
  background-image: url(assets/white_bg_contact.jpg);
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/white_bg_contact.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* backdrop-filter: brightness(0.1); */
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 10% 0 5% 0;
}
.contact_maininfo_container {
  /* background-color: #694d4d; */
  /* width: 100%; */
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.contact_info_box, .contact_form {
  width: 50%;
}

.contact_info_box {
  /* background-color: #3ab234; */
}

.contact_info_box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  letter-spacing: 5px;
}

.contact_info_box h3 {
  font-size: 1rem;
  color: black;  
}

/* !!!!FORM */

.contact_form {
background-color: #98b70d;
}
.contact_form form {
  background-color: antiquewhite;
  width: 100%;

}

.form_container1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form_container2 {
  display: flex;
  flex-direction: column;
}

.form_container2 label,  .form_container4 label, .form_container5 label{
  font-size: 1.2rem;
}

.form_container2 input,  .form_container4 input{
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 3px 6px;
  transition: .2s ease;
}

.form_container2 input:focus,  .form_container4 input:focus{
  outline: 1px solid rgb(255, 153, 0);
  border-color: rgb(255, 153, 0);
}

.form_container3 {
/* background-color: #6c6a6a; */
width: 100%;
display: flex;
flex-direction: column;
}

.form_container4 {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .form_container4 input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 3px 6px;
} */

.form_container5 {
  /* background-color: #694d4d; */
  width: 100%;
  display: flex;

}

.form_container5 select {
  width: 40%;
  margin-left: 20px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  outline: none;
  border-radius: 5px;
  padding: 3px 6px;
}