@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* NAVBAR */
nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav a img {
  width: 50%;
  transition: 0.3s ease;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  margin: 10px 0 10px 0;
}

nav a img:hover {
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}

nav ul {
  display: flex;
}

nav ul li {
  border: 2px solid white;
  padding: 4px 8px;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
  background: transparent;
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.3s ease;
}
nav ul li a {
  color: #ffffff;
}

nav ul li:hover {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

nav ul .special {
  border: 4px solid rgb(255, 153, 0);
}

nav ul .special a {
  color: rgb(255, 153, 0);
}

nav ul .special:hover {
  box-shadow: 0px 0px 20px rgb(255, 153, 0);
}

/* MAIN VIDEO BG */

main {
  width: 100%;
  min-height: 100vh;
  /* background: #8b8b8b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}

main .video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -3;
  filter: brightness(0.6);
  /* width: 100%; */
  /* height: 100%; */
}

main .logo_main {
  width: 50%;
  margin-top: 5%;
  /* background-color: #c24242; */
}

main .main_txt {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
  text-shadow: 0px 0px 30px white;
  /* -webkit-text-stroke: 0.1px rgb(0, 0, 0); */
  /* filter: drop-shadow(10px 10px 20px rgba(255, 255, 255, 0.507)); */
}

main .purchase_list {
  /* background-color: aliceblue; */
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
}

main .purchase_list li {
  background-color: rgb(255, 153, 0);
  margin: 0 20px 0 20px;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  border: 2px solid transparent;
}

main .purchase_list li:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 153, 0);
}

main .purchase_list li a i {
  font-size: 40px;
  color: white;
  transition: 0.5s ease;
}

main .purchase_list li:hover a i {
  color: rgb(255, 153, 0);
}

/* MINA page info */
.horizontal-line-orange {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 153, 0);
}

.main-page-info {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background-image: url(assets/test_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(0.1); */
}

.main-page-info .main-info-block {
  /* background-color: aqua; */
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  margin: 2rem;
  color: white;
}
.main-page-info .main-info-block h2 {
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.main-page-info .main-info-block {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  /* line-height: 25px; */
}

/*? big description section 1 */
.big-description-section {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: url('assets/bg_secondary1.jpg');
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
  align-items: end;
  justify-content: end;
}

.dark-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width of the dark overlay */
  height: 100%;
  background: linear-gradient(310deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70% ,rgba(0, 0, 0, 0) 100%);
}


.big-description-section  .content-box {
  float:  left;
  width: 20%;
  /* background: #ffffff; */
  z-index: 3;
  margin-right: 5%;
  margin-bottom: 5%;
}

.big-description-section .content-box h1, h3, p{
  color: white;
}

.big-description-section .content-box h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 153, 0);
}

.big-description-section .content-box h3 {
  font-size: 1.7rem;
  /* letter-spacing: 5px; */
  font-weight: 100;
  line-height: 40px;
}
.big-description-section .content-box p {
  font-weight: 100;
  font-size: 1rem;
}

/*? big description section 2 */
#description-section2 {
  background-image: url('assets/bg_secondary2.jpg');
  justify-content: start;
}

#description-section2 .dark-overlay {
  left: 0;
  background: linear-gradient(20deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70% ,rgba(0, 0, 0, 0) 100%);
}

#description-section2 #content-box2 {
  float: right;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 5%;
}

/*? big description section 3 */
#description-section3 {
  background-image: url('assets/bg_secondary3.jpg');
  background-position: top;
}